
html {
  background: #e3e3e3;
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("lasersharknew.jpg");
  background-size: cover;
  height: 100vh;
  background-position: center;
  margin: 0 auto;
}

body {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
  border-top: 100px solid purple;
  border-bottom: 100px solid purple;
}

h1 {
  font-size: 4em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
  font-size: 1.5em;
}

ul {
  font-size: large;
  text-align: center;
  list-style-type: none;
}

.genres {
  
  text-align: center;
  font-size: 1em;
}

h3 {
  text-align: center;
  font-size: 1.5em;
}